.ymaps-2-1-79-map {
  height: 500px !important;
  border-radius: 15px !important;
  @media (max-width: 768px) {
    height: 300px !important;
  }
}
.ymaps {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 15px !important;
  height: 100%; /* или любой другой размер */
}

.map {
  margin-left: auto;
  border-radius: 15px !important;
  margin-right: auto;
  width: 100%;
  height: 500px;
  @media (max-width: 768px) {
    height: 300px !important;
  }
}

.ymaps-2-1-79-inner-panes {
  border-radius: 35px !important;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none !important;
}

.ymaps-2-1-79-copyright {
  display: none !important;
}
