.section_map {
  margin-top: 60px;
  margin-bottom: 30px;
  height: auto;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  border-radius: 20px;
  position: relative;
  padding: 10px;
  background-color: white;

  @media (min-width: 769px) {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 530px;
    width: 80%;
    border-radius: 35px;
    padding: 15px;
  }
}

.map {
  width: 100%;
  border-radius: 15px !important;
  height: 300px;

  @media (min-width: 769px) {
    border-radius: 35px !important;
    height: 500px;
  }
}

.info_block {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  width: 100%;
  margin-top: 15px;
  z-index: 9;

  &.mobile {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
  }

  @media (min-width: 769px) {
    position: absolute;
    top: 7%;
    left: 3%;
    padding: 30px;
    border-radius: 35px;
    max-width: 650px;
    width: 600px;
    height: 450px;
    margin-top: 0;
  }

  .info_block_adress {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (min-width: 769px) {
      gap: 5px;
    }
  }

  .info_block_contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (min-width: 769px) {
      gap: 10px;
    }
  }

  h2 {
    font-family: "Montserrat", sans-serif !important;
    text-align: left;
    font-size: 28px;
    letter-spacing: 0.3px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 10px;

    @media (min-width: 769px) {
      font-size: 44px;
      letter-spacing: 0.5px;
      margin-bottom: 0;
    }
  }

  h3 {
    font-family: "Montserrat", sans-serif !important;
    text-align: left;
    letter-spacing: 0.3px;
    font-size: 18px;
    font-weight: 500;
    color: #292c3b;

    @media (min-width: 769px) {
      font-size: 24px;
      letter-spacing: 0.5px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: #292c3b;

    @media (min-width: 769px) {
      font-size: 16px;
    }
  }

  h5 {
    font-size: 14px;
    font-weight: 600;

    @media (min-width: 769px) {
      font-size: 16px;
    }
  }
}

.info_block_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  align-items: center;
  margin: 15px 0;

  @media (min-width: 769px) {
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

.info_block_bottom_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: 1px solid #1e1e1e;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (min-width: 769px) {
    padding: 9px 20px;
    border-radius: 10px;
  }

  p {
    font-size: 14px;
    font-weight: 400;
    color: #1e1e1e;

    @media (min-width: 769px) {
      font-size: 16px;
    }
  }

  &:hover {
    border-color: #e54d4d;
    box-shadow: 0 2px 10px rgba(233, 84, 84, 0.301);
    transform: scale(1.01);
  }
}

.mobile_note {
  margin-top: 10px;

  small {
    font-size: 12px;
    line-height: 1.4;

    @media (min-width: 769px) {
      font-size: inherit;
    }
  }

  @media (min-width: 769px) {
    margin-top: 0;
  }
}
