@import "/public/const.scss";

.hero-block_image {
  background: url("./contacts.jpg");
  width: 100%;
  height: 350px;
  margin-top: 85px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
    font-size: 40px;
    width: fit-content;
    text-transform: uppercase;
  }

  .div-dec {
    width: 100%;
    height: 6px;
    border-radius: 3px;
    background-color: #fff;
    margin-top: 10px;
  }
}
.contacts {
  margin-bottom: 120px;
  .ymaps {
    margin: 100px auto 0;
    max-width: 1920px !important;
    width: 80%;
    .map {
      width: 100%;
      height: 500px;
    }
  }

  .contact-info {
    display: flex;
    justify-content: space-around;
    margin: -100px auto 0;
    padding: 0 20px;
    width: 80%;
    max-width: 1920px;
    .contact-info_card {
      width: 25%;
      text-align: center;
      padding: 40px 30px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      margin-left: 10px;
      margin-right: 10px;
      position: relative;
      z-index: 2;
      transition: all 0.5s;

      &:hover {
        transform: translateY(-10px);
      }

      div {
        margin-bottom: 20px;

        svg {
          width: 80px;
          height: 80px;
        }
      }

      h4 {
        font-size: 20px;
        color: #333;
        font-weight: 600;
        margin-bottom: 12px;
      }

      a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        color: #555;
        transition: all 0.3s;
      }
    }
  }

  @media (max-width: 1200px) {
    .ymaps {
      margin: 50px 5% 0;

      .map {
        height: 400px;
      }
    }

    .contact-info {
      flex-direction: column;
      align-items: center;
      margin: 50px 5% 0;

      .contact-info_card {
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    .hero-block_image {
      h1 {
        font-size: 32px;
      }

      .div-dec {
        width: 100%;
      }
    }

    .ymaps {
      margin: 50px 5% 0;

      .map {
        height: 300px;
      }
    }

    .contact-info {
      flex-direction: column;
      margin: 0;
      margin-top: 100px;
      .contact-info_card {
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }

  @media (max-width < 480px) {
    .hero-block_image {
      height: 200px;

      h1 {
        padding-top: 20%;
        font-size: 18px;
      }

      .div-dec {
        width: 100px;
        height: 3px;
      }
    }

    .ymaps {
      .map {
        height: 200px;
      }
    }

    .contact-info {
      flex-direction: column;
      margin: 0;
      margin-top: 100px;
      .contact-info_card {
        width: 100%;
        padding: 10px;
      }

      h4 {
        font-size: 16px;
      }

      a {
        font-size: 14px;
      }
    }
  }
}
