.aboutContainer {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  width: 80%;
  padding: 60px 20px;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    padding: 30px 15px;
    gap: 30px;
    width: 100%;
  }
}

.textBlock {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 25px;
  color: #222;
  font-weight: 700;
  line-height: 1.2;

  span {
    color: #d32f2f;
  }

  @media (max-width: 768px) {
    font-size: 1.2rem;
  }
}

.description {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    font-size: 0.9rem;
  }
}

.inn {
  display: inline-block;
  background: #f5f5f5;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: 500;
  color: #333;
  margin-top: 10px;
  border-left: 3px solid #d32f2f;
}

.orderButton {
  display: inline-block;
  background: #d32f2f;
  color: white;
  padding: 12px 25px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease;
  border: none;
  max-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  &:hover {
    background: #b71c1c;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  @media (max-width: 768px) {
    max-width: 100%;
    padding: 6px 20px;
  }
}

.mobileButton {
  display: none;

  @media (max-width: 768px) {
    display: inline-block;
    margin-top: 20px;
  }
}

.sliderBlock {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  height: 500px;

  @media (max-width: 1024px) {
    height: 400px;
  }

  @media (max-width: 768px) {
    height: auto; // Позволим подстраиваться по высоте
    width: 100%;
    aspect-ratio: 4 / 3; // Задаем пропорции на мобилках
  }
}

.swiper {
  border-radius: 8px;
  height: 100% !important;
  width: 100%;
}

.slide {
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f5f5;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;

  @media (max-width: 768px) {
    object-fit: contain; // На мобилках вписываем без обрезки
  }
}
