.knowledgebase {
  .hero-block_image1 {
    background: url("./3д-карусель12.jpg");
    width: 100%;
    height: 350px;
    margin-top: 85px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    h1 {
      color: white;
      font-weight: bold;
      text-align: center;
      margin-top: 0;
      font-size: 40px;
      width: fit-content;
      @media (min-width: 2560px) {
        font-size: 50px;
      }
    }
    .div-dec {
      width: 100%;
      height: 6px;
      border-radius: 3px;
      background-color: #fff;
      margin-top: 10px;
    }
    .dark-fon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #00000083;
    }
  }
  .heading {
    margin-top: 104px;
    text-align: center;
    font-size: 32px;
    @media (min-width: 2560px) {
      font-size: 40px;
    }
  }

  .knowledgebase-second-list {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 65px 10% 100px 10%;
    a {
      width: 33%;
      color: black;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      padding: 28px;
      img {
        width: 100%;
        height: 40%;
        max-height: 200;
        object-fit: cover;
      }
      h3 {
        font-size: 18px;
        margin-top: 15px;
        color: #ca0011;
        @media (min-width: 2560px) {
          font-size: 30px;
        }
      }
      p {
        font-size: 14px;
        @media (min-width: 2560px) {
          font-size: 18px;
        }
      }
    }
  }

  .knowledgebase-list {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20%;
    margin-top: 64px;
    margin-bottom: 100px;
    a {
      width: calc(33.33% - 20px);
      margin-right: 20px;
      margin-bottom: 20px;
      color: black;
      text-decoration: none;
      display: flex;
      flex-direction: column;
      padding: 28px;
      box-sizing: border-box;
      align-items: flex-start;
      transition: 0.3s;
      h3 {
        font-size: 18px;
        margin-top: 15px;
        color: black;
        text-align: left;
        @media (min-width: 2560px) {
          font-size: 30px;
        }
      }
    }
    a:nth-child(3n) {
      margin-right: 0;
    }

    p {
      font-size: 14px;
      flex-grow: 1;
      margin-bottom: 10px;
      @media (min-width: 2560px) {
        font-size: 18px;
      }
    }
    span {
      color: black;
      font-weight: 600;
      @media (min-width: 2560px) {
        font-size: 18px;
      }
    }
    a:hover {
      background-color: #f7d4d4;

      h3 {
        color: #5c0408;
      }

      p {
        color: #852734;
      }

      span {
        color: #5c0408;
      }
    }
  }
}

@media (max-width: 950px) {
  .knowledgebase {
    .knowledgebase-list,
    .knowledgebase-second-list {
      width: 100% !important;
      margin: 0 !important;
      flex-direction: column !important;
      margin-top: 50px !important;
      margin-bottom: 50px !important;
      h3 {
        text-align: left;
      }
      a {
        width: 94% !important;
        padding: 16px !important;
        height: auto !important;
        flex-direction: column !important;
        margin: 0 3%;

        h3 {
          font-size: 18px !important;
        }

        p {
          font-size: 14px !important;
        }

        img {
          width: 100% !important;
          height: 200px !important;
          object-fit: cover !important;
        }
      }
    }
  }
}

@media (max-width: 1500px) {
  .knowledgebase {
    h1 {
      text-align: center;
    }
    .heading {
      width: 60%;
      margin-left: 20%;
    }
    .knowledgebase-second-list {
      h3 {
        text-align: left;
      }
      width: 90%;
      margin-left: 5%;
      margin-right: 20%;
      margin-top: 50px;
      margin-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      a {
        width: calc(33% - 20px);
        margin: 10px;
        width: 80 !important;
        padding: 16px !important;
        height: auto !important;
        flex-direction: column !important;
        img {
          width: 100% !important;
          height: 200px !important;
          object-fit: cover !important;
        }
      }
    }
    .knowledgebase-list {
      width: 90%;
      margin-left: 5%;
    }
  }
}
@media (max-width: 450px) {
  .knowledgebase {
    .hero-block_image1 {
      h1 {
        text-align: center;
      }
    }
    .heading {
      width: 94%;
      margin-left: 4%;
    }
    .knowledgebase-list,
    .knowledgebase-second-list {
      width: 100% !important;
      margin: 0 !important;
      flex-direction: column !important;
      margin-top: 50px !important;
      margin-bottom: 50px !important;
      h3 {
        text-align: left;
      }

      a {
        width: 94% !important;
        padding: 16px !important;
        height: auto !important;
        flex-direction: column !important;
        margin: 0 3%;

        h3 {
          font-size: 18px !important;
        }

        p {
          font-size: 14px !important;
        }

        img {
          width: 100% !important;
          height: 200px !important;
          object-fit: cover !important;
        }
      }
    }
  }
}
