@import "/public/const.scss";

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 15%;
  height: 60vh;
  @media (max-width: 992px) {
    margin: 150px 5%;
    height: auto;
  }
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #007bff;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
    display: inline-block;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  h3 {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    @media (min-width: 2560px) {
      font-size: 40px;
    }
  }
  h5 {
    font-size: 16px;
    text-align: center;
    @media (min-width: 2560px) {
      font-size: 24px;
    }
    a {
      color: $red;
      text-decoration: underline;
      transition: 0.3s;
    }
    a:hover {
      color: $vinous;
    }
  }

  form {
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1920px;
    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
    gap: 60px;
    .inline-fields {
      display: flex;
      gap: 10px;
      width: 100%;
      font-size: 16px !important;
      @media (min-width: 992px) {
        font-size: 30px;
      }
      input[type="text"] {
        flex: 1;
        background-color: #f7f7f7;
        border: none;
        border-radius: 6px;
        padding: 10px 10px;
        outline: none;
      }
    }

    textarea {
      min-height: 150px;
      outline: none;
    }

    input[type="file"] {
      padding: 10px 10px;
    }
  }
}
@media (max-width: 1200px) {
  .question {
    margin: 100px 1%;
  }
}
@media (max-width: 992px) {
  .question {
    form {
      flex-direction: column;
      align-items: center;
      .inline-fields {
        flex-direction: column;
      }
    }
  }
}
