@import "/public/const.scss";



.back-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: $red;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    width: fit-content;
    align-self: center;
}
.home-form{
    margin: 150px 15% !important;
    h3{
        margin: 0 !important;
    }
}
.home-form-main{
    margin: 0 0 !important;
}
.navigate{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: calc(70px) 10% 120px 10%;
    height: 600px;
    width: 80%;
    .nav1{
        width: 50%;
        height: 100%;
        background: url('./3dd.jpg');
        background-size: cover;
        background-position: bottom;
        .fon{
            width: 100%;
            height: 100%;
            background: linear-gradient(to top,rgba(0,0,0,0.5) 0%,transparent 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
        .fon:hover{
            .d-btn{
                button:before{
                    left: 0px;
                    height: 60%;
                    top: 0;
                }
                button:after{
                    right: 0px;
                    height: 60%;
                    bottom: 0;
                }
            }
        }
    }
    .nav2{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 50%;
        height: 100%;
        div{
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            height: 50%;
            width: 100%;
            .nav21,.nav22,.nav24{
                height: 100%;
                a{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                }
            }
            .nav21{
                background: url('./статья3д.jpg');
                background-size: cover;
            }
            .nav22{
                background: url('./mat2.jpg');
                background-size: cover;
            }
            .nav24{
                background: url('./3д-карусель9.jpg');
                background-size: cover;
            }
            .fon{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
            .fon:hover{
                .d-btn{
                    button:before{
                        left: 0px;
                        height: 60%;
                        top: 0;
                    }
                    button:after{
                        right: 0px;
                        height: 60%;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
.content-cards--progress {
    background-color: #ca00111e;
    padding: 2.5rem;
    margin: 0 10% 100px 10%;
    .title {
        color: rgba(0, 0, 0, 0.85);
        margin: 0;
    }
    .cards {
        display: flex;
        grid-gap: 3rem;
        margin-top: 4rem;
        position: relative;
    }
    .cards:before {
        content: ' ';
        width: 100%;
        height: 3px;
        background-color: $red;
        position: absolute;
        top: -1.5rem;
        left: 0;
    }
    .card {
        flex: 2;
        position: relative;
        background: none;
        border: none;
        .card-title {
            font-size: 1rem;
            font-weight: bold;
            color: #262626;
        }
        .card-subtitle {
            font-size: 0.75rem;
            color: rgba(0, 0, 0, 0.85);
            margin-top: .5rem;
        }
    }
    .card:before {
        content: ' ';
        width: 13px;
        height: 13px;
        background: white;
        border-radius: 50%;
        border: 3px solid $red;
        position: absolute;
        top: -1.75rem;
        left: 0;
    }
    .card:last-of-type {
        flex: 1;
        padding-right: 0;
        text-align: right;
    }
    .card:last-of-type:before {
        width: 21px;
        height: 21px;
        top: -2rem;
        left: unset;
        right: 0;
    }
    .card:first-of-type:before {
        width: 21px;
        height: 21px;
        top: -2rem;
    }
}
@media (max-width: 1200px){
    .home-form{
        margin: 150px 5% !important;
        h3{
            margin: 0 !important;
        }
    }
    .navigate{
        margin: calc(40px) 2% 120px 2%;
        width: 96%;
    }
    .content-cards--progress{
        margin: 0 2% 100px 2%;
    }
    .inline-gallery-container{
        width: 90% !important;
        margin: 0 5% 50px 5% !important;
    }
    .container-blog {
        max-width: 96% !important;
        margin: 30px 2% !important;
        padding: 20px !important;
    }
}

@media (max-width: 992px){
    .back-button {
        //margin-left: 33.5%;
    }
    .home-form{
        margin: 50px 5% !important;
        h3{
            margin: 0 !important;
        }
    }
    .navigate{
        flex-direction: column;
        margin: 0 0 120px 0;
        width: 100%;
        height: 100vh;
        .nav1{
            width: 100%;
            height: 100%;
        }
        .nav2{
            width: 100%;
            row-gap: 0;
            div{
                flex-direction: column;
                height: 100%;
                .nav21{
                    height: 25vh;
                }
                .nav22{
                    height: 25vh;
                }
                .nav24{
                    height: 25vh;
                }
            }
        }
    }
    .content-cards--progress{
        padding: 1.5rem;
        margin: 0 5% 100px 5%;
        .title{
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
        .cards {
            margin-top: 0;
            flex-direction: column;
            grid-gap: 2rem;
        }
        .cards:before {
            height: calc(93.5% - 4rem);
            width: 3px;
            top: 3rem;
            left: calc(1rem - 4px);
        }
        .card {
            padding-left: 2rem;
            padding-right: 0;
            .card-title {
                margin-top: 2rem;
            }
        }
        .card:first-of-type:before {
            width: 21px;
            height: 21px;
            top: 2.375rem;
            left: calc(1rem - 13px);
            right: unset;
        }
        .card:last-of-type:before {
            top: 2rem;
            left: calc(1rem - 13px);
            right: unset;
        }
        .card:last-of-type {
            text-align: left;
        }
        .card:before {
            top: 2.375rem;
            left: calc(1rem - 9px);
        }
    }
    .slider-container{
        h3{
            font-size: 22px;
            padding: 0 5%;
        }
        p{
            padding: 0 5%;
        }
    }
    .inline-gallery-container{
        margin: 10px 0 70px 0 !important;
        width: 100% !important;
    }
    .articles-container-home{
        flex-direction: column;
    }
    .container-blog{
        max-width: 100% !important;
        margin: 30px 0;
    }
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        .back-button{
            margin-top: -10px !important;
            margin-left: 0 !important;
        }
    }
    .container-blog .blog .articles-container-home .article-card{
        max-width: 100% !important;
    }
}

