@import "/public/const.scss";

footer{
    position: relative;
    background: $gray;
    bottom: 0;
    margin-top: 100px;
    .logo-block{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        svg{
            g{
                fill: white;
            }
        
        }
        span{
            color: white;
        }
    }
    .content-block-mob{
        display: none;
    }
    .content-block{
        display: flex;
        flex-direction: row;
        padding: 40px 10%;
        justify-content: space-between;
    }
    .col-block{
        h6{
            color: rgba(255, 255, 255, 0.5);
            font-weight: 400;
            margin-bottom: 20px;
        }
        p{
            display: flex;
            color: rgba(255, 255, 255, 0.5);
        }
    }
    .nav-link{
        color: #fff !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
        background-image: linear-gradient(92.18deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%); 
        background-repeat: no-repeat; 
        background-size: 0 2px; 
        background-position: left bottom; 
        padding-bottom: 2px; 
        text-decoration: none; 
        transition: 0.3s;
        font-weight: 400;
        width: fit-content;
        margin-bottom: 5px;
        font-size: 16px;
    }
    .nav-link:hover{
        color: white !important;
        background-size: 100% 2px;
    }
    ul{
        list-style: none;
        padding-left: 0px;
    }
}
@media (max-width: 992px){
    footer{
        .content-block{
            display: none;
        }
        .content-block-mob{
            display: flex;
            flex-direction: column;
            padding: 40px 10%;
            justify-content: space-between;
        }
        button.collapsed{
            svg{
                transform: rotate(0deg);
            }
        }
        button{
            background: none;
            border: none;
            width: 100%;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 400;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            svg{
                transition: .3s;
                transform: rotate(90deg);
            }
        }
        .card{
            background: transparent;
            border: none;
            padding-top: 0;
        }
        ul{
            margin-bottom: 0;
        }
    }
}