@import "/public/const.scss";

.services {
  margin-bottom: 100px;
  .hero-block_image {
    background: url("/services/шар.jpg");
    background-position: center;
    .dark-fon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: #00000075;
    }
  }
  .main-services {
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    .dop-services {
      margin-left: 15%;
      font-size: 18px;
      font-weight: 500;
    }
    h2 {
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      margin: 100px 0 50px 0;
      @media (min-width: 2560px) {
        font-size: 40px;
      }
    }
    .main-services-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 40px;
      row-gap: 40px;
      flex-wrap: wrap;
      max-width: 1920px;
      margin-left: auto;
      padding-left: 10%;
      padding-right: 10%;
      margin-right: auto;
      @media (max-width: 992px) {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      .body-container {
        min-width: 400px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        background: white;
        padding: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        align-items: center;
        .price p {
          text-align: center;
          font-size: 20px;
          margin-bottom: 5px;
        }
        .descrtip p {
          text-align: center;
          font-size: 20px;
          margin-bottom: 5px;
        }
        .block-buttons {
          display: flex;
          justify-content: center;
          align-items: end;
          column-gap: 20px;
        }
        span {
          font-size: 14px;
          @media (min-width: 2560px) {
            font-size: 16px;
          }
        }
        img {
          width: 100%;
          max-height: 50%;
          object-fit: cover;
          object-position: center;
        }
        p {
          margin: 0;
          font-size: 16px;
          font-weight: 600;
          @media (min-width: 2560px) {
            font-size: 18px;
          }
        }
        ul {
          margin: 0;
          li {
            font-size: 14px;
            @media (min-width: 2560px) {
              font-size: 16px;
            }
          }
        }
        h3 {
          font-size: 18px;
          margin: 10px 0;
          font-weight: 700;
          @media (min-width: 2560px) {
            font-size: 20px;
          }
        }
        button {
          border-radius: 30px;
          padding: 10px 30px;
          border: 2px solid black;
          background: transparent;
          width: fit-content;
          margin: 10px 0;
          transition: 0.3s;
          color: black;
          min-width: 160px;
        }
        button:hover {
          background: $red;
          color: white;
          border: 2px solid $red;
        }
        div:last-of-type {
          flex: 1;
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .services {
    .main-services {
      margin: 0 2%;
      .dop-services {
        margin-left: 2%;
        font-size: 16px;
        font-weight: 500;
      }
      h2 {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        margin: 70px 0 30px 0;
      }
      .main-services-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 40px;
        row-gap: 40px;
        flex-wrap: wrap;
        .body-container {
          min-width: 100%;
          align-items: center;
          .descrtip {
            display: none;
          }
        }
      }
    }
  }
}
