@import "/public/const.scss";

.article-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 

   
    h1 {
        max-width: 50%;
        text-align: center;
        margin-top: 170px;
        font-size: 2rem; 
        margin-bottom: 10px; 
        font-weight: 600;
    }
    h4{
        margin-top: 40px;
        width: 40%;
        text-align: center;
    }
    
    img {
        margin-top: 50px;
        width: 70%; 
        height: 400px; 
        margin-bottom: 15px; 
        object-fit: cover; 
    }

  
    p {
        margin-top: 100px;
        width: 100%;
        padding-left: 20%;
        font-size: 1rem;
        margin-bottom: 15px; 
        color: #666; 
    }

    
    .article-text {
        margin-top: 100px;
        font-weight: 600;
        width: 45%; 
        font-size: 1rem; 
        line-height: 1.6; 
        text-align: justify; 
        margin-bottom: 20px; 
    
    }

    .tags {
        margin-top: 20px; 
        display: flex; 
        flex-wrap: wrap; 
        gap: 10px; 
    }

    .tag {
        background-color: #f1f1f1; 
        border-radius: 4px; 
        padding: 5px 10px; 
        font-size: 0.9rem; 
        color: #333; 
        display: inline-block;
    }
    .back-button {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #fff;
        background-color: $red;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 50px;

       
    }
}
@media(max-width:1600px) {
    .article-page { 
        h1 {
            max-width: 70%;
            text-align: center;
            margin-top: 170px;
            font-size: 2rem; 
            margin-bottom: 10px; 
            font-weight: 600;
        }
        h4{
            margin-top: 40px;
            width: 60%;
            text-align: center;
        }
        .article-text {
            margin-top: 100px;
            font-weight: 600;
            width:60%; 
            font-size: 1rem; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px; 
          
    }
}
}
@media(max-width:1200px) {
    .article-page { 
        h1 {
            max-width: 90%;
            text-align: center;
            margin-top: 170px;
            font-size: 2rem; 
            margin-bottom: 10px; 
            font-weight: 600;
        }
        h4{
            margin-top: 40px;
            width: 80%;
            text-align: center;
        }
        .article-text {
            margin-top: 100px;
            font-weight: 600;
            width:80%; 
            font-size: 1rem; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px; 
          
    }
}
}
@media(max-width:992px) {
    .article-page { 
        h1 {
            margin-top: 130px;
            width: 100%;
            text-align: center;
            font-size: 24px;
        }
        h4{
            width: 100%;
            text-align: center;
            font-size: 18px;
        }
        img{
            width: 95%;
            
        }
        P{
            margin-top: 10px;
            padding: 0 3%;
            margin-bottom: 0;
        }
        .article-text {
            margin-top: 50px;
            font-weight: 600;
            width:95%; 
            font-size: 1rem; 
            line-height: 1.6; 
            text-align: justify; 
            margin-bottom: 20px; 
          
    }
}
}