@import "/public/const.scss";

$tag-color: $red;
$background-color: #f0f0f0;
$card-background: white;
$card-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
$border-radius: 5px;
$font-color: #666;
$input-border: #ccc;
$primary-color: rgb(15, 15, 15);

body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  margin: 0;
  padding: 0;
}

.translate-middle {
  transform: translate(0%, -100%) !important;
  background-color: $red !important;
  transition: 0.3s;
}
.display {
  display: none;
}
.container {
  max-width: 1920px;
  width: 80%;
  margin: 100px auto;
  padding: 20px;
  @media (max-width: 992px) {
    width: 100%;
  }
  .load-more {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: $red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    margin: 50px auto;
    display: block;
  }
  .search {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 50px 0;
    .search-container {
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
      .filters {
        height: 100%;
        border: 1px solid $input-border;
        border-radius: $border-radius;
        background: white;
        padding: 10px;
        min-width: 46px;
        svg {
          fill: #666;
          width: 100%;
          height: 100%;
        }
      }
      h3 {
        margin-bottom: 0;
        @media (min-width: 2560px) {
          font-size: 30px;
        }
      }
      input {
        width: 100%;
        padding: 10px;
        border: 1px solid $input-border;
        border-radius: $border-radius;
      }
    }

    .tags-container {
      margin-bottom: 20px;
      width: 100%;

      button {
        margin: 5px;
        padding: 3px 10px;
        border: none;
        border-radius: $border-radius;
        background: #e0e0e0;
        cursor: pointer;

        &.active {
          background: $red;
          color: white;
        }
      }
    }
  }
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  .article-card {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: $card-background;
    box-shadow: $card-shadow;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 500px;
    transition: 0.3s;
    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      border-radius: $border-radius;
      margin-bottom: 10px;
    }

    h4 {
      margin: 0 0 10px 0;
      color: $primary-color;
      font-size: 1em;
      overflow: hidden;
      transition: 0.3s;
      @media (min-width: 2560px) {
        font-size: 1.3em;
      }
    }

    p {
      margin: 0;
      color: $font-color;
      @media (min-width: 2560px) {
        font-size: 1.2em;
      }
      &:nth-child(3) {
        margin: 10px 0;
        font-size: 0.85em;
      }
    }

    .tags {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: end;
      align-content: end;
      align-items: end;
      span {
        margin-right: 10px;
        margin-bottom: 5px;
        padding: 3px 10px;
        border-radius: $border-radius;
        background: $red;
        color: white;
        font-size: 0.75em;
        font-weight: 500;
        height: fit-content;
        @media (min-width: 2560px) {
          font-size: 1em;
        }
      }
    }
    .tags:last-of-type {
      flex: 1;
      align-items: flex-end;
    }
  }
  .article-card:hover {
    h4 {
      color: $red;
    }
  }
  .no-articles {
    width: 100%;
    text-align: center;
    font-size: 1.25em;
    color: $font-color;
  }
}
@media (max-width: 1500px) {
  .articles-container {
    margin-top: 50px;
    .article-card {
      flex: 1 1 calc(33% - 20px);
      max-width: calc(33%);
    }
  }
}
@media (max-width: 1200px) {
  .articles-container {
    margin-top: 50px;
    .article-card {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50%);
    }
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 90%;
  }
  .articles-container {
    margin-top: 50px;
    width: 100%;
    .article-card {
      flex: 1 1 calc(50% - 20px);
      max-width: calc(50%);
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: $border-radius;
        margin-bottom: 10px;
      }
    }
  }
  .container .search .search-container h3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 95%;
    .articles-container {
      margin-top: 50px;
      width: 100%;
      .article-card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100%);
        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
          border-radius: $border-radius;
          margin-bottom: 10px;
        }
      }
    }
  }
}
